server {
    listen 80;
    server_name dadoconcreto.deeplearn.ltd;

    location = /favicon.ico { access_log off; log_not_found off; }
    
    location /static/ {
        root {{ app_root }}/src;
    }

    location / {
        include proxy_params;
        proxy_pass http://unix:/run/gunicorn.sock;
    }
}
